@import "../../variables";

.content {
  padding-top: 20px;
  background-color: map-get($colors, back);
  min-height: calc(100vh - 119px);
}

.container {
  min-height: calc(100vh - 139px);
}

input,
select {
  margin-left: -30%;
  width: 100%;
  padding: 2px 0 2px 10px;
}

.table_header {
  p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-weight: bold;
  }
}

.tabs {
  margin-right: 10px;
  margin-top: 10px;
}
