<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <h1>Buttons</h1>
        <br />
      </div>
      <div class="col-sm-4">
        <button
          class="change btn"
          [style.color]="sg.colors[0].color"
          [style.background]="sg.button[0].background"
          [style.border-color]="sg.button[0].border"
          (change)="setHover()"
        >
          Button
        </button>
      </div>

      <!-- tabs to switch between customs -->
      <div class="tabs" *ngFor="let button of showCustomButtons; let i = index">
        <button class="btn btn-primary" (click)="toggleShowButton(i)">
          Custom {{ i + 1 }}
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <p>Schriftart</p>
      </div>
      <div class="col-sm-2">
        <input type="text" [(ngModel)]="sg.button[0].family" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Schriftgröße</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].size"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Stärke</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].weight"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>

    <div
      class="row"
      *ngFor="
        let colorType of ['color', 'background', 'hover', 'border'];
        let k = index
      "
    >
      <div class="col-sm-2">
        <p *ngIf="k === 0">Farbe</p>
        <p *ngIf="k === 1">Hintergrund-Farbe</p>
        <p *ngIf="k === 2">Hover-Farbe</p>
        <p *ngIf="k === 3">Border-Farbe</p>
      </div>
      <div class="col-sm-2">
        <select
          [(ngModel)]="this.sg.colors[k].colorType"
          class="font-family-size"
          (ngModelChange)="applyChanges(); setHover()"
        >
          <option value="">Bitte auswählen...</option>
          <option *ngFor="let color of this.sg.colors" value="{{ color.color }}"
            >{{ color.class }} ({{ color.color }})</option
          >
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Radius</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].radius"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Breite</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].width"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Höhe</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].height"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Margin-Top</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].marginTop"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Margin-Right</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].marginRight"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Margin-Bottom</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].marginBottom"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Margin-Left</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].marginLeft"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Padding-Top</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].paddingTop"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Padding-Right</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].paddingRight"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Padding-Bottom</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].paddingBottom"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <p>Padding-Left</p>
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [(ngModel)]="sg.button[0].paddingLeft"
          (ngModelChange)="applyChanges()"
        />
      </div>
    </div>

    <!-- <div class="row" *ngFor="let color of sg.button; let i = index">
    <div class="col-sm-2">
      <input type="text" [(ngModel)]="sg.colors[i].class" />
    </div>
    <div class="col-sm-2">
      <input
        type="text"
        [cpOKButton]="true"
        [(colorPicker)]="sg.colors[i].color"
        [(ngModel)]="sg.colors[i].color"
      />
    </div>
    <div class="col-sm-2">
      <div class="color_preview" [style.background]="sg.colors[i].color"></div>
    </div>
  </div> -->
  </div>
</div>
