@import "../../variables";

.content {
    padding-top: 20px;
    min-height: calc(100vh - 119px);
}

.container {
    display: flex;
    justify-content: center;
}

.form {
    padding-top: 20px;
}

.btn {
    background-color: map-get($colors, yellow);
    justify-content: center;
}

