<button class="btn back_button" (click)="back()">
  <i class="fa fa-arrow-left"></i>
</button>
<button class="btn next_button" (click)="next()">
  <i class="fa fa-arrow-right"></i>
</button>

<div class="content">
  <div class="container">
    <h1>Allgemeine Informationen</h1>
  </div>
  <div class="container">
    <div class="form" *ngFor="let color of sg.infos; let i = index">
      <div class="form-group">
        <label for="title">Projekt-Titel</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="z.B. Digi-Check"
          [(ngModel)]="sg.infos[i].title"
        />
      </div>
      <div class="form-group">
        <label for="date">Datum</label>
        <input
          type="date"
          class="form-control"
          id="today"
          [(ngModel)]="sg.infos[i].date"
        />
      </div>
      <button type="submit" class="btn" (click)="next()">Weiter</button>
    </div>
  </div>
</div>
