@import "../../variables";

.content {
  padding-top: 20px;
  background-color: map-get($colors, back);
  min-height: calc(100vh - 119px);
}

.container {
  min-height: calc(100vh - 139px);
}

input {
  margin-left: 5px;
  padding: 2px 0 2px 10px;
}

.margin_row {
  margin-top: 40px;
}


.table_header {
  p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-weight: bold;
  }
}

.font-family-size {
  width: 100%;
}

.custom_rows {
  margin-bottom: 10px;
}
