<button class="btn back_button" (click)="back()">
    <i class="fa fa-arrow-left"></i>
</button>
<button class="btn next_button" (click)="next()">
    <i class="fa fa-arrow-right"></i>
</button>

<div class="content">
    <div class="container-fluid">
        <div class="row table_header">
            <div class="col-1">
                <p>HTML-Element</p>
            </div>
            <div class="col-2">
                <p>Schriftart</p>
            </div>
            <div class="col-1">
                <p>F/U/K</p>
            </div>
            <div class="col-2">
                <p>Schriftgröße</p>
            </div>
            <div class="col-1">
                <p>Stärke</p>
            </div>
            <div class="col-1">
                <p>Spacing</p>
            </div>
            <div class="col-1">
                <p>Farbe</p>
            </div>
            <div class="col-3">
                <p>Vorschau</p>
            </div>
        </div>

        <div class="row" *ngFor="let element of ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'p', 'a']">
            <div class="col-1">
                <p>{{element}}</p>
            </div>
            <div class="col-2">
                <input type="text" [(ngModel)]="font[element]['family']" (ngModelChange)="applyChanges()"
                       class="font-family-size">
            </div>
            <div class="col-1">
                <input type="checkbox" [(ngModel)]="font[element]['bold']" (ngModelChange)="applyChanges()">
                <input type="checkbox" [(ngModel)]="font[element]['underline']" (ngModelChange)="applyChanges()">
                <input type="checkbox" [(ngModel)]="font[element]['italic']" (ngModelChange)="applyChanges()">
            </div>
            <div class="col-2">
                <input type="number" [(ngModel)]="font[element]['size']" (ngModelChange)="applyChanges()">
            </div>
            <div class="col-1">
                <input type="number" step="100" max="900" min="100" [(ngModel)]="font[element]['weight']"
                        (ngModelChange)="applyChanges()" class="font-family-size">
            </div>
            <div class="col-1">
                <input type="number" max="99" min="0" [(ngModel)]="font[element]['spacing']"
                        (ngModelChange)="applyChanges()" class="font-family-size">
            </div>
            <div class="col-1">

                <select [(ngModel)]="font[element]['color']" class="font-family-size"
                        (ngModelChange)="applyChanges()">
                    <option value="">Bitte auswählen...</option>
                    <option *ngFor="let color of sg.colors" value="{{color.color}}">{{color.class}} ({{color.color}})</option>
                </select>

            </div>


            <div class="col-3">
                <h1 class="change" *ngIf="element == 'h1'">Überschrift 1</h1>
                <h2 class="change" *ngIf="element == 'h2'">Überschrift 2</h2>
                <h3 class="change" *ngIf="element == 'h3'">Überschrift 3</h3>
                <h4 class="change" *ngIf="element == 'h4'">Überschrift 4</h4>
                <h5 class="change" *ngIf="element == 'h5'">Überschrift 5</h5>
                <h6 class="change" *ngIf="element == 'h6'">Überschrift 6</h6>
                <p class="change" *ngIf="element == 'p'">Absatz</p>
                <a href="#" class="change" *ngIf="element == 'a'">Link</a>
            </div>
        </div>


        <!-- custom fields -->

        <div class="row table_header margin_row">
            <div class="col-1">
                <p>CSS Klasse</p>
            </div>
            <div class="col-2">
                <p>Schriftart</p>
            </div>
            <div class="col-1">
                <p>F/U/K</p>
            </div>
            <div class="col-2">
                <p>Schriftgröße</p>
            </div>
            <div class="col-1">
                <p>Stärke</p>
            </div>
            <div class="col-1">
                <p>Spacing</p>
            </div>
            <div class="col-1">
                <p>Farbe</p>
            </div>
            <div class="col-3">
                Vorschau
            </div>
        </div>

        <div class="row custom_rows" *ngFor="let element of [1,2,3,4,5,6]" >
            <div class="col-1">
                <input type="text" [(ngModel)]="font['custom' + element]['class']" class="font-family-size">
            </div>
            <div class="col-2">
                <input type="text" [(ngModel)]="font['custom' + element]['family']" (ngModelChange)="applyChanges()"
                       class="font-family-size">
            </div>
            <div class="col-1">
                <input type="checkbox" [(ngModel)]="font['custom' + element]['bold']" (ngModelChange)="applyChanges()">
                <input type="checkbox" [(ngModel)]="font['custom' + element]['underline']"
                        (ngModelChange)="applyChanges()">
                <input type="checkbox" [(ngModel)]="font['custom' + element]['italic']"
                        (ngModelChange)="applyChanges()">
            </div>
            <div class="col-2">
                <input type="number" [(ngModel)]="font['custom' + element]['size']" (ngModelChange)="applyChanges()">
            </div>
            <div class="col-1">
                <input type="number" step="100" max="900" min="100" [(ngModel)]="font['custom' + element]['weight']"
                        (ngModelChange)="applyChanges()" class="font-family-size">
            </div>
            <div class="col-1">
                <input type="number" max="99" min="0" [(ngModel)]="font['custom' + element]['spacing']"
                        (ngModelChange)="applyChanges()" class="font-family-size">
            </div>
            <div class="col-1">
                <select [(ngModel)]="font[element]['color']" class="font-family-size"
                        (ngModelChange)="applyChanges()">
                    <option value="">Bitte auswählen...</option>
                    <option *ngFor="let color of sg.colors" value="{{color.color}}">{{color.class}} ({{color.color}})</option>
                </select>
            </div>
            <div class="col-3">
                <p [ngClass]="font['custom' + element]['class']">{{font['custom' + element]['class']}}</p>
            </div>
        </div>


    </div>
</div>
