.content {
  padding-top: 20px;
  background-color: #FAFAFA;
  min-height: calc(100vh - 119px);
}

.container {
  min-height: calc(100vh - 139px);
}

input {
  margin-left: 5px;
}

.margin_row {
  margin-top: 40px;
}

.table_header p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-weight: bold;
}

.font-family-size {
  width: 100%;
}
/*# sourceMappingURL=font.component.css.map */