.content {
  padding-top: 20px;
  background-color: #FAFAFA;
  min-height: calc(100vh - 119px);
}

.container {
  min-height: calc(100vh - 139px);
}

input {
  margin-left: 5px;
  padding: 2px 0 2px 10px;
  margin-bottom: 10px;
}

.table_header p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-weight: bold;
}

.background_custom1 {
  background-color: #007BFF;
}

.background_custom2 {
  background-color: #ffc107;
}

.background_custom3 {
  background-color: #DC3545;
}

.background_custom4 {
  background-color: #17A2B8;
}

.background_custom5 {
  background-color: #28A745;
}

.background_custom6 {
  background-color: #6C757D;
}
/*# sourceMappingURL=color.component.css.map */