@import "../../variables";

.content {
  padding-top: 20px;
  background-color: map-get($colors, back);
  min-height: calc(100vh - 119px);
}

.container {
  min-height: calc(100vh - 139px);
}

input {
  margin-left: 5px;
  padding: 2px 0 2px 10px;
  margin-bottom: 10px;
}

.table_header {
  p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-weight: bold;
  }
}

.color_preview {
  height: 30px;
  padding: 5px 0;
  width: 100%;
}





