<button class="btn back_button" (click)="back()">
  <i class="fa fa-arrow-left"></i>
</button>
<button class="btn next_button" (click)="next()">
  <i class="fa fa-arrow-right"></i>
</button>

<div class="content">
  <div class="container-fluid">
    <h1>Farben</h1>
    <br />

    <div class="row table_header">
      <div class="col-2">
        <p>CSS-Klasse</p>
      </div>
      <div class="col-2">
        <p>Farbe</p>
      </div>
      <div class="col-2">
        <p>Vorschau</p>
      </div>
    </div>

    <div class="row" *ngFor="let color of sg.colors; let i = index">
      <div class="col-sm-2">
        <input type="text" [(ngModel)]="sg.colors[i].class" />
      </div>
      <div class="col-sm-2">
        <input
          type="text"
          [cpOKButton]="true"
          [(colorPicker)]="sg.colors[i].color"
          [(ngModel)]="sg.colors[i].color"
        />
      </div>
      <div class="col-sm-2">
        <div
          class="color_preview"
          [style.background]="sg.colors[i].color"
        ></div>
      </div>
      <div class="row">
        <div *ngIf="i === 0">
          <button class="btn btn-primary" (click)="pushToArray(i)">
            + (Push To Array)
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
