input#colorPicker {
  width: 100px;
}

div.cliente {
  border-bottom: 2px dotted;
  width: 70%;
  float: left;
}

div.fecha {
  border-bottom: 2px dotted;
  width: 28%;
  float: right;
}

ul.satisfacion {
  float: left;
  margin-top: 28px;
}
/*# sourceMappingURL=color-picker.component.css.map */