<button class="btn back_button" (click)="back()">
  <i class="fa fa-arrow-left"></i>
</button>
<button class="btn next_button" (click)="next()">
  <i class="fa fa-arrow-right"></i>
</button>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
        <h1>Buttons</h1>
        <br />
      </div>
      <div class="col-sm-4" *ngFor="let element of this.sg.button[i]">
        <button
          class="change btn"
          *ngIf="element == 'button'"
          [style.color]="sg.button.button.color"
          [style.background]="sg.button.button.background"
          [style.border-color]="sg.button.button.border"
          (change)="setHover()"
        >
          Button
        </button>
      </div>
      <!-- tabs to switch between customs -->

      <div class="tabs" *ngFor="let button of showCustomButtons; let i = index">
        <button class="btn btn-primary" (click)="toggleShowButton(i)">
          Custom {{ i + 1 }}
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div *ngFor="let element of ['button']">
          <div class="row">
            <div class="col-sm-4">
              <p>Schriftart</p>
            </div>
            <div class="col-sm-2">
              <input
                type="text"
                [(ngModel)]="sg.button[element]['family']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <p>Schriftgröße</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                [(ngModel)]="sg.button[element]['size']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <p>Stärke</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                step="100"
                max="900"
                min="100"
                [(ngModel)]="sg.button[element]['weight']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Höhe</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                step="10"
                [(ngModel)]="sg.button[element]['height']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Breite</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                step="10"
                [(ngModel)]="sg.button[element]['width']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Radius</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                step="1"
                [(ngModel)]="sg.button[element]['radius']"
                (ngModelChange)="applyChanges()"
              />
            </div>
          </div>

          <div
            class="row"
            *ngFor="
              let colorType of ['color', 'background', 'hover', 'border'];
              let k = index
            "
          >
            <div class="col-sm-4">
              <p *ngIf="k === 0">Farbe</p>
              <p *ngIf="k === 1">Hintergrund-Farbe</p>
              <p *ngIf="k === 2">Hover-Farbe</p>
              <p *ngIf="k === 3">Border-Farbe</p>
            </div>
            <div class="col-sm-2">
              <select
                [(ngModel)]="sg.button[element][colorType]"
                class="font-family-size"
                (ngModelChange)="applyChanges(); setHover()"
              >
                <option value="">Bitte auswählen...</option>
                <option
                  *ngFor="let color of sg.colors"
                  value="{{ color.color }}"
                  >{{ color.class }} ({{ color.color }})</option
                >
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <p>Margin-Top</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                [(ngModel)]="sg.button[element]['marginTop']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Margin-Right</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                [(ngModel)]="sg.button[element]['marginRight']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Margin-Bottom</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                [(ngModel)]="sg.button[element]['marginBottom']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Margin-Left</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                [(ngModel)]="sg.button[element]['marginLeft']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <p>Padding-Top</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                [(ngModel)]="sg.button[element]['paddingTop']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Padding-Right</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                [(ngModel)]="sg.button[element]['paddingRight']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Padding-Bottom</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                [(ngModel)]="sg.button[element]['paddingBottom']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <p>Padding-Left</p>
            </div>
            <div class="col-sm-2">
              <input
                type="number"
                [(ngModel)]="sg.button[element]['paddingLeft']"
                (ngModelChange)="applyChanges()"
                class="font-family-size"
              />
            </div>
          </div>
        </div>
      </div>
      -->

      <!-- custom -->
      <!-- <div class="col-sm-6">
        <div
          *ngFor="let bool of showCustomButtons; let i = index"
          [ngClass]="'custom' + (i + 1)"
        >
          <div *ngIf="bool">
            <div class="row">
              <div class="col-sm-3">
                <p>Klasse</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="text"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['class']"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Schriftart</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="text"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['family']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Schriftgröße</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['size']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <p>Stärke</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  step="100"
                  max="900"
                  min="100"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['weight']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Höhe</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  step="10"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['height']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Breite</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  step="10"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['width']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Radius</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  step="0.25"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['radius']"
                  (ngModelChange)="applyChanges()"
                />
              </div>
            </div>

            <div
              class="row"
              *ngFor="
                let colorType of ['color', 'background', 'hover', 'border'];
                let k = index
              "
            >
              <div class="col-sm-4">
                <p *ngIf="k === 0">Farbe</p>
                <p *ngIf="k === 1">Hintergrund-Farbe</p>
                <p *ngIf="k === 2">Hover-Farbe</p>
                <p *ngIf="k === 3">Border-Farbe</p>
              </div>
              <div class="col-sm-2">
                <select
                  [(ngModel)]="sg.button['custom' + (i + 1)][colorType]"
                  class="font-family-size"
                  (ngModelChange)="applyChanges(); setHover()"
                >
                  <option *ngFor="let color of sg.colors"
                    >{{ color.class }} ({{ color.color }})</option
                  >
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <p>Margin-Top</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['marginTop']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Margin-Right</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['marginRight']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Margin-Bottom</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['marginBottom']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Margin-Left</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['marginLeft']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Padding-Top</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['paddingTop']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Padding-Right</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['paddingRight']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Padding-Bottom</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['paddingBottom']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <p>Padding-Left</p>
              </div>
              <div class="col-sm-3">
                <input
                  type="number"
                  [(ngModel)]="sg.button['custom' + (i + 1)]['paddingLeft']"
                  (ngModelChange)="applyChanges()"
                  class="font-family-size"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
    </div>
  </div>
</div>
