.content {
  padding-top: 20px;
  background-color: #FAFAFA;
  min-height: calc(100vh - 119px);
}

.container {
  min-height: calc(100vh - 139px);
}

input {
  margin-left: 5px;
  width: 300%;
  padding: 2px 0 2px 10px;
}

.table_header p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-weight: bold;
}

.custom1, .custom2 {
  visibility: hidden;
}

select {
  margin-left: 5px;
  width: 300%;
}
/*# sourceMappingURL=button.component.css.map */