.container {
  margin-top: 2em;
}

.pdfButton {
  font-family: Raleway;
  margin-left: 11%;
}

.font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=pdf.component.css.map */