.container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    
}

.pdfButton, #jsonButton, #cssButton {
    font-family: Raleway;
    margin-bottom: 6px;
    background-color: #fede3e;
    color: #495057;
    cursor: pointer;
    border-radius: .25rem;
    width: 200px;
    text-align: center;
}


.table-font {
    margin-left: 15em;
    margin-right: 15em;
}


.table-button {
    margin-left: 15em;
    margin-right: 15em;
}

h1 {
    font-weight: bold;
}

#information {
    padding-top: 20px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.colors {
    margin: 0 4em;
}

i {
    font-size: 30px;
    color: #495057;
}

