/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, h6, p, span, a, li {
  color: #3C3C3C;
  font-family: "Raleway", sans-serif;
}

.container-fluid {
  padding: 20px 80px !important;
}

i.fa-arrow-right {
  font-size: 30px;
}

.next_button {
  min-width: 100px;
  position: absolute;
  left: 90%;
  top: 12%;
  margin-top: -5%;
}
/*# sourceMappingURL=styles.css.map */