/* You can add global styles to this file, and also import other style files */
@import "variables";

h1, h2, h3, h4, h5, h6, p, span, a, li {
  color: map-get($colors, text);
  font-family: "Raleway", sans-serif;
}

.container-fluid {
  padding: 20px 80px !important;
}

i.fa-arrow-right, i.fa-arrow-left {
  font-size: 30px;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.next_button {
  position: absolute;
  right: 5%;
  top: 2%;
}

.back_button {
  position: absolute;
  left: 5%;
  top: 2%;
}